@model TrashCollection.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Addresses" asp-action="Details" asp-route-id="@Model.AddressId" class="btn btn-primary">Address</a>
    <a asp-controller="ServiceInfoes" asp-action="Details" asp-route-id="@Model.ServiceInfoId" class="btn btn-primary">Service Info</a>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
