@model TrashCollection.Models.CustomerViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ServiceInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo.PickUpDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo.PickUpDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo.OneTimePickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo.OneTimePickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo.IsSuspended)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo.IsSuspended)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Customer.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
